.get-start-button {
    background-color: #ff52bf;
    color: #fff;
    border-radius: 50px;
    width: 70%;
    outline: none;
    height: 50px;
    border: none;
    box-shadow: rgb(187, 186, 186) 3px 4px 5px;
    text-align: center;
}

@media (min-width: 1000px) {
    .get-start-button {
        width: 20%;
    }
}