.get-start-button {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 50px;
    width: 70%;
    outline: none;
    height: 50px;
    border: none;
    box-shadow: rgb(187, 186, 186) 3px 4px 5px;
    text-align: center;
}

.get-start-button:hover,
.get-start-button:focus {
    background-color: hsl(321, 100%, 78%);
}

@media (min-width: 1000px) {
    .get-start-button {
        width: 20%;
    }
}