.headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.header__button {
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 71px;
    color: hsl(322, 100%, 66%);
    background-color: transparent;
    text-align: center;
    width: 130px;
    height: 40px;
    outline: none;
}

.header__button:hover,
.header__button:focus {
border: 1px solid hsl(321, 100%, 78%);
color: hsl(321, 100%, 78%);
}

.header {
    width: 50%;
}